.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* RESPONSIVE  min 420px max 729px*/
@media screen and (max-width: 729px){
  /* RESET */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* general */
  img {
    height: 120px;
  }

  #lezioni,
  #why {
    background-color: #F2F2CD;
  }

  .row {
    width: 100%;
    margin-top: 0;
    padding: 20px 0;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central {
    width: 50%;
    padding: 10px;
  }

  #steps .row>.right {
  width: 100%;
  margin: 0 auto;
  padding: 10px 25%;
  }

  /* BLOCCO WHY */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 90%;
    margin: 10px auto;
  }

}

/* RESPONSIVE  max 419px*/
@media screen and (max-width: 419px){

  /* COMMON */
  body {
    font-size: 0.7em;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  img {
    height: 70px;
  }

  /* BLOCCO LEZIONI */
  .row,
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    margin-top: 0;
    padding: 5px;
  }

  /*BLOCCO STEPS */
  #steps {
    background-color: white;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    padding: 5px;
  }

  /* BLOCCO WHY */

  .first,
  .second,
  .third {
    width: 100%;
    padding: 5px;
  }

  #why .row img {
    padding: 20px;
    margin: 0 auto;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 0;
  }

  hr {
    border-top-color: black;
    width: 100%;
    margin: 0 auto;
  }
}
